body{
    background-color:chocolate;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

div.principal{
    width:600px;
}

div.cabecalho{
    border:2px solid azure;
    background-color: burlywood;
}

p.nome{
    color:crimson;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

h1.titulo-principal{
    font-size: 2em;
    font-weight: bolder;
    margin-top: 10px;
    margin-bottom: 0%;
    text-align: center;
}

div.bloco-pessoal{
    background-color: burlywood;
    border: 2px solid black;
}

img.foto-perfil{
    max-width: 5px;
    border-radius: 5px;
    transition: 0.2s;
}

a.link-externo{
    color:darkred;
    text-decoration: overline;
}

div.conteudo-extra{
    background-color: burlywood;
    border: 5px solid darkred;
    padding: 20px;
}

ul.lista-hobbies{
    padding-left:  20px;
}

li{
    font-size: 15em;
    font-weight:bolder;
    margin: top 15px;
    margin-bottom: 5px;
}

video{
    width:100%;
    margin-bottom: 20px;
}

tabela{
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    margin-bottom: 15px;
    font-size: 14px;
}

tr{
    border: 1px solid;
}

th{
    background-color: darkkhaki;
    color:brown;
    padding: 1px; width: 15px; height: 14px;
}

td{
    padding: 12px;
    width: 50px;
    color: orange;
}
link.navegacao{
    text-align: center;
    margin-top: 20px;
}